1 VERSIONINFO
FILEVERSION 3,0,0,0
PRODUCTVERSION 3,0,0,0
FILEOS 0x40004
FILETYPE 0x1
{
  BLOCK "StringFileInfo"
  {
    BLOCK "080404B0"
    {
      VALUE "CompanyName", "chen"
      VALUE "FileDescription", "NetShunt"
      VALUE "FileVersion", "3.3.2"
      VALUE "InternalName", "NetShunt"
      VALUE "LegalCopyright", "Copyright (c) chen"
      VALUE "OriginalFilename", "NetShunt.exe"
      VALUE "ProductName", "NetShunt"
      VALUE "ProductVersion", "3.3.2"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x804, 0x4B0
  }
}